$tablet-width: 768px;
$desktop-width: 1024px;

.about {
    margin-right: 3%;
}
.innerAbout{
    img{
        display: block;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        max-height: 30%;
    }
    div {
        margin: 5% 0;
        p {
            text-align: justify;
        }
    }
}


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .innerAbout{
        height: 65vh;
        display: flex;
        align-items: center;
        img{
            width: 40%;
            margin: 5%;
            max-height: 500px;
        }
        div{
            margin: 0 2%;
        }
    }
}

@media only screen and (min-width : 1024px) {
    .about {
        text-align: left;
        margin: 0;
        max-height: 60vh;
    }
    .innerAbout{
        display: flex; 
        align-items: center;
        img{
            width: 30%;
            margin: 5%;
            max-height: 300px;
        }
        div {
            margin: 0 4%;
        }
    }
}
