$tablet-width: 768px;
$desktop-width: 1024px;

.about {
    section{
        display: flex;
        margin: 0 auto;
        img{
            width: 90%;
            margin: 0 auto;
        }
    }
    div{
        h2{
            text-align: start;
        }
        margin: 1rem 0;
    }
}



@media (min-width: 0) and (max-width: #{$tablet-width - 1px}) {
    .about{
        grid-template-columns: 1fr;
        img{
            margin: 0 auto;
            width: 70%;
        }
    }
}