footer {
    display: flex; 
    flex-direction: column;
    border-top: solid lightgray .5px; 
    .links{
        display: flex; 
        flex-direction: row;
        margin: 0 auto;
        margin-bottom: 2em;
        a {
            font-size: 2em;
            margin-right: .5em;
        }
    }
    span {
        margin: 0 auto;
        // flex-grow: 4;
    }
}

@media screen and (min-width: 768px) {
    footer{
        flex-direction: row-reverse;
        .links{
           display: block; 
           flex-direction: column-reverse;
           a{
               font-size: 1em;
           }
        }
    }
}