@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";


header{
    position: fixed;
    z-index: 1;
    img{
        margin: 25px 20px;
        height: 2em;
    }
    nav, .navbar{
        padding: 0;
        margin: 0;
        button.navbar-toggler, .collapsed{
            height: 50px;
            width: 50px;
            border-color: rgba(0, 0, 0, 0);
            border-radius: 100px;
            margin: 5%;
        }
        .navbar-nav{
            a {
                padding: 5%;
                font-family: "Montserrat", "Gotham", "Arial Bold", sans-serif;
                font-weight: 700;
                font-size: 2.75em;
                text-align: end;
            }
        }

    }
    
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    header{
        .logo{
            margin: 30px;
            height: 4rem;
        }
    }
    #basic-navbar-nav{
        background-color: rgba(0,0,0,0) ;
    }
    .navbar-nav{
        margin-right: 4%;
        a.nav-link {
            font-size: 1.25rem !important;
            padding: 0 !important;
            margin: 20px 10px;
        }
    }
}

@media only screen and (min-width : 1024px) {
    header{
        .logo {
            height: 3rem;
            margin: 70px;
        }
    }
    #basic-navbar-nav{
        background-color: rgba(0,0,0,0) ;
    }
    .navbar-nav{
        margin-right: 4%;
        a.nav-link {
            font-size: 1.5rem !important;
            padding: 0 !important;
            margin: 15px 10px;
        }
    }
}