@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 11px;
  h1{
    font-family: Montserrat, GothamMedium, sans-serif;
    font-weight: 700;
    text-align: end;
    font-size: 3rem;
  }
  h2 {
    font-family: Montserrat, GothamMedium, sans-serif;
    font-weight: 700;
  }
  p{
    font-size: 1rem;
  }
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  div {
    padding: 0; 
    margin: 0; 
  }
}
main, footer {
  padding: 1rem 1.25rem;
  margin: 0 auto;
}
main{ 
  overflow-x: hidden;
  padding-top: 3.5rem;
  .landing{
    height: 70vh;
    margin: 30px 10px;
    .Typewriter{
      display: inline;
    }
    p{
      position: relative;
      font-size: 2em;
      font-family: Montserrat, sans-serif;
    }
  }
}

.dark {
  background-color: #2a2b2d;
  color: #fff;
  transition: all 0.6s ease;
  height: 100%;
}
.light {
  transition: all 0.6s ease;
  background-color: #fefefe;
  height: 100vh;
  a, a:visited{
   color: #2a2b2d;
  }
}
.dark a,
.dark a:visited {
  color: #fff;
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    main{
      padding-top: 10%;
      .landing{
        height: 60vh;
        overflow: hidden;
        p {
          font-size: 2.5rem;
          padding: 3% 10%;
        }
      }
    }
}

@media only screen 
  and (min-device-width: 1025px) 
  and (max-device-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    main {
      padding: 15%; 
      margin-bottom: 5%;
      .landing {
        margin: 0;
        p {
          font-size: 3rem;
        }
      }
    }
}

@media only screen and (min-width : 1201px) {
  main {
    padding: 5% 15%;
    margin-bottom: 0;
    .landing{
      padding: 10%;
      p{
        font-size: 2.5rem;
      }
    }
  }
}