@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

@font-face {
    font-family: Operator;
    src: url("../../fonts/OperatorMonoLig-Book.otf") format("opentype");
}
@font-face {
    font-family: OperatorItalic;
    src: url("../../fonts/OperatorMonoLig-BookItalic.otf") format("opentype");
}


nav.navbar {
    float: right; 
    padding: 0 0;
    a.nav-link {
        font-family: 'Roboto', 'Open Sans', sans-serif;
        font-weight: 300; 
        padding: 0 0;
        font-size: .78em;
        text-transform: uppercase;
        text-decoration: none;
        margin: .5em; 
    }
}
