.works {
    h1{
        // position: fixed;
    }
    ul{
        margin: 5% 0;
        padding: 0;
        li{
            list-style: none;
            margin: 1% 0;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    }
    a {
        h2 {
            font-family: Montserrat, sans-serif;
            font-weight: 700;
            margin-bottom: 20%;
        }
    }
}